/*Start CSS*/

.header{
    float:left;
    padding:25px;
    width:300px;
    color:white;
    background-color:#4aaaa5;
    font-family:Georgia;
    text-align:center;   
    margin-top:0px;
    margin-left:150px;
    margin-bottom:0px;
}
#body{
    background-image: url("file:///Users/briandawkins/Documents/homework/assignment1/Basic-Portfolio/assets/images/background.png");
}
#head{
    background-image: url("file:///Users/briandawkins/Documents/homework/assignment1/Basic-Portfolio/assets/images/topbackground.png");
    z-index: -1; 
    margin-bottom:150px;
    padding-bottom:95px;
    position: absolute;
    text-align: right;
    top:0;
    right:0;
    left:0
}
.pages{
    padding:10px;
    display: block;
    float:right;
}
#relative{
    float: right;
    background-color:white;
    margin-right:350px;
    margin-top:65px;
}
a:link{
    text-decoration:none;
    color:lightgray;
}
a:visited{
    text-decoration:none;
    color: lightgray;
}

.main{
    background-color:#ffffff;
    border: lightgray;
    border-style:solid;
    border-width:0.5px;
    width:650px;
    float:left;
    position:absolute;
    left:150px;
    top:150px;
}
.aboutMe{
    color:#4aaaa5;
    margin:10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.image{
    float:left;
    margin:20px;
    margin-top:0px;
    margin-bottom:0px;
}
.para{
    margin:10px;
    color:#777777;
    font-family: Arial, Helvetica, sans-serif;
}
#aside{
    background-color:#ffffff;
    float:right;
    position:absolute;
    top:150px;
    left:840px;
    width: 270px;
    border: lightgray;
    border-style:solid;
    border-width:1px;
    color:#4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
    padding:10px;
    text-align: center;
}
#footer{
    background-color:#666666;
    float:left;
    text-align:center;
    font-size:10px;
    color:#ffffff;
    height:40px;
    position:fixed;
    top:770px;
    padding-top:25px;
    right:0;
    left:0;
}
#portfolio{
    background-image: url("file:///Users/briandawkins/Documents/homework/assignment1/Basic-Portfolio/assets/images/background.png");
    float:left;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#images{
    border: 2px;
    border-color: lightgray;
    background:white;
    border-style: solid;
    float: left;
    position:relative;
    left:100px;
    top:50px;
    height:550px;
    width: 650px;
    padding:20px;
    column-count:2; 
    column-width:325px;
    position: relative;
    align-content:center;
}
#contact{
    float:left;
    position:absolute;
    left:100px;
    top:150px;
    width:650px;
    border: lightgray;
    border-width: 1px;
    border-style: solid;
    background-color:white;
    padding:20px;
}
.text1{
    background-color:#4aaaa5;
    padding:5px;
    width:165px;
    text-align:center;
   position:absolute;
    top:150px;
    left:20px;
}
.text2{
    background-color:#4aaaa5;
    padding:5px;
    width:165px;
    text-align:center;
   position:absolute;
    top:150px;
    left:199px;
}
.text3{
    background-color:#4aaaa5;
    padding:5px;
    width:165px;
    text-align:center;
   position:absolute;
    top:150px;
    left:378px;
}
.text4{
    background-color:#4aaaa5;
    padding:5px;
    width:165px;
    text-align:center;
   position:absolute;
    top:330px;
    left:20px;
}
.text5{
    background-color:#4aaaa5;
    padding:5px;
    width:165px;
    text-align:center;
   position:absolute;
    top:330px;
    left:199px;
}
/*End CSS*/